.massmail-hint--spaced{margin-top:10px;}
.massmail-logs__col-time{width:140px;}
.massmail-logs__col-type{width:70px;}
.massmail-logs__col-targets{width:70px;}
.massmail-logs__col-result{width:90px;}
.massmail-logs__col-status{width:60px;}
.massmail-logs__col-recipients{width:160px;}